In [2]:
#homework
text1="""exercise"""
print(text1)

exercise

In [11]:
q=text1.replace('e','&')
print(q.replace('&','e',1))

ex&rcis&

In [13]:
text2="""We few, we happy few, we band of brothers"""
w=text2.replace('We','we')
w.count('we')

3

In [23]:
text3="""I felt happy because I saw the others were happy and because I knew I should feel happy, but I wasnâ€™t really happy."""
text3.count('happy')

4

In [24]:
e=text3.index('happy')
r=text3.index('happy',e+1)
t=text3.index('happy',r+1)
z=text3.index('happy',t+1)
print(z)

109

In [25]:
#Muster
result=text1[0]+text1[1:].replace(text1[0],'&')
print(result)

ex&rcis&

In [27]:
text2.lower().count('we'.lower())

3

In [28]:
text3.rfind('happy')

109

In [31]:
my_int=24
my_float=4.99
type(my_int)
type(my_float)

float

In [32]:
my_int + my_float #integers & floats can be used together

28.990000000000002

In [33]:
print (24**4) #24 hoch 4

331776

In [34]:
print (1999//24) #Teilen ohne Rest (kein Runden)

83

In [35]:
print (1999%24) #Rest beim Teilen

7

In [37]:
my_int_1 = 4 #works also with floats
my_int_2 = 1999
print (f'sum: {my_int_1 + my_int_2}')
print (f'subtract: {my_int_1 - my_int_2}')
print (f'multiply: {my_int_1 * my_int_2}')
print (f'power of: {my_int_1 ** my_int_2}')
print (f'divide: {my_int_1 / my_int_2}')
print (f'modulus: {my_int_1 // my_int_2}')

sum: 2003
subtract: -1995
multiply: 7996
power of: 3295510233577357750259724485591478407960047902733181922732008625604392320282086137769938030793030508285235189120179205759611704423560145320432765613128046009636168611096722239082242660692998482509146638231062378622208045847353958093905002321230652236527759644688519478316360229645781396512607911821150909122705962501956702918117225052672276122022371336798038177205029941251531486214599440468667325319686308376199146748628513608804263450933175810070850203981542337091199868179023644223501810792165642221650766458121707651531254410839117433101813218641804433423706059168830835438920459805488673455114018005063471092806706711214659048553218784891646861347517003686993953492937028692609812206672166782309488532138960468615166432407623164650044834568144777505220307191840300150869743280042223499393588431913499742305773199563925416516993174726559230407191193209478881521616097290392633654239175936210125743819773521896824742105879132906522724597337862255014212805269762241679719735827308017994643909969302155309260235031728191902664535269844689510850902856363686045144287713801234290865225628183137815134909805364251494311816669086004538911877378849177837871886515619861148194763888855340680626143926727737344
divide: 0.002001000500250125
modulus: 0

In [38]:
dist_moon=384000
dist_sun=150000000
print(dist_sun/dist_moon)

390.625

In [39]:
speed=150
print('total hours:', 384000/150)

total hours: 2560.0

In [40]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 9216000.0
hours to the moon 2560.0
days to the moon 106.66666666666667
months to the moon 3.555555555555556
years to the moon 0.29629629629629634

In [43]:
#How many days since your birthday
import datetime
print (datetime.datetime.now())
my_birthday = datetime.date(1999,4,24)
datetime.datetime.now().date()-my_birthday

2021-11-16 09:50:25.773594

datetime.timedelta(days=8242)

In [44]:
print (datetime.datetime.now() )
my_birthday = datetime.date(1986,5,4)
datetime.datetime.now().date() - my_birthday

delta = datetime.timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.datetime.now() + delta}')

2021-11-16 09:53:59.264773
We would reach the moon on 2022-03-03 01:53:59.265770

In [45]:
my_boolean=1>2
print(my_boolean)
print(type(my_boolean))

False
<class 'bool'>

In [46]:
my_boolean2=True #first letter needs to be capitalized
my_boolean3=False
is_even = my_int % 2 == 0
print(f'my int is even {is_even}')
#Operators:
#== -> is equal
#!= -> is not equal

my int is even True

In [47]:
print (f'equal to operator ==: { 1 == 1} ')
print (f'equal to operator ==: { 1 == 10} ')
print (f'not equal to operator !=: { 1 != 1} ')
print (f'not equal to operator !=: { 1 != 10} ')
print (f'more to operator >: { 15 > 10} ')
print (f'more to operator >=: { 10 >= 10} ')
print (f'more to operator <: { 1 < 10} ')
print (f'more to operator <=: { 10 <= 10} ')

equal to operator ==: True
equal to operator ==: False
not equal to operator !=: False
not equal to operator !=: True
more to operator >: True
more to operator >=: True
more to operator <: True
more to operator <=: True

In [48]:
#True and true
24>4 and 4<1999

True

In [50]:
#True and false
24<4 and 4<1999

False

In [51]:
#True or false
24<4 or 4<1999

True

In [52]:
True and 24>4 and 1999%1999 == 0 or False

True

In [53]:
True and 24>4 and 1999%24 == 0 or False

False

In [54]:
bool ('text')

True

In [55]:
print(bool('text')) #true for all texts, only empty string is false
print(bool(''))
print(bool(' '))

True
False
True

In [56]:
print(bool(4)) #true for all numbers (also floats & others), except it's zero
print(bool(0))
print(bool(24))
print(bool(-1999))

True
False
True
True

In [57]:
not 24>4 #switch true and false

False

In [58]:
sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

12

In [59]:
#membership operator
text4='Niemand hat die Absicht, eine Mauer zu bauen.'
print ('Mauer' in text4)
print ('mauer' in text4) 
print ('antifaschistischer Schutzwall' not in text4)

True
False
True

In [60]:
#List
list1=[24,4,1999]

In [64]:
print(len(list1))
print(list1[0])
print(list1[1:])

3
24
[4, 1999]

In [65]:
list2 = [24,4,1999,'F1','Qatar', True, 24>4]
print(list2)

[24, 4, 1999, 'F1', 'Qatar', True, True]

In [68]:
list3=[24,4,1999,9991,40,42]
print(list3)
list3.sort()
print(list3)
list3.sort(reverse=True)
print(list3)

[24, 4, 1999, 9991, 40, 42]
[4, 24, 40, 42, 1999, 9991]
[9991, 1999, 42, 40, 24, 4]

In [69]:
my_list_4 = [ 1, 5, 1, ['New list inside', "Vilnius"], 10, 15, 54 ]
print (my_list_4)
print (my_list_4[3])

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
['New list inside', 'Vilnius']