In [1]:
# new_list = [1,2,3] + ['1','2','3' ]
new_list = [1,2,3] + [7,6,5,5,5,5,5 ]
print (new_list)
new_list.pop()
print (new_list)
new_list.sort(reverse=True)
print (new_list)
for number in new_list:
    print(f'number {number} repeats {new_list.count(number)} times')

[1, 2, 3, 7, 6, 5, 5, 5, 5, 5]
[1, 2, 3, 7, 6, 5, 5, 5, 5]
[7, 6, 5, 5, 5, 5, 3, 2, 1]
number 7 repeats 1 times
number 6 repeats 1 times
number 5 repeats 4 times
number 5 repeats 4 times
number 5 repeats 4 times
number 5 repeats 4 times
number 3 repeats 1 times
number 2 repeats 1 times
number 1 repeats 1 times

In [2]:
my_list = [ 1, 3, 5 ]
print (len(my_list))
my_list.append(9)
print(my_list)

3
[1, 3, 5, 9]

In [3]:
8 in my_list

False

In [4]:
tuple1=(1,2,3)
tuple2=(5,23,54)
new_tuple=tuple1 + tuple2
print(new_tuple)
list_1=list(tuple1)
print(list_1)
list_1.pop()
print(list_1)
for number in new_tuple:
    print(f'number {number} repeats {new_tuple.count(number)} times')
print(f'max value in tuple {max(new_tuple)}')
tmp_list=list(new_tuple)
tmp_list.sort(reverse=True)
print(tmp_list)
print(f'max value in tuple {tmp_list[0]}')

(1, 2, 3, 5, 23, 54)
[1, 2, 3]
[1, 2]
number 1 repeats 1 times
number 2 repeats 1 times
number 3 repeats 1 times
number 5 repeats 1 times
number 23 repeats 1 times
number 54 repeats 1 times
max value in tuple 54
[54, 23, 5, 3, 2, 1]
max value in tuple 54

In [5]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [6]:
my_sum = 0
for number in range(1,51):
    my_sum+=number
print (my_sum)

1275

In [7]:
user_input=input('Enter a number:')
user_number=int(user_input)
for i in range(1,11):
    print(f'number {user_number} multiplied by {i} is equal to {user_number*i}')
#homework end

number 24 multiplied by 1 is equal to 24
number 24 multiplied by 2 is equal to 48
number 24 multiplied by 3 is equal to 72
number 24 multiplied by 4 is equal to 96
number 24 multiplied by 5 is equal to 120
number 24 multiplied by 6 is equal to 144
number 24 multiplied by 7 is equal to 168
number 24 multiplied by 8 is equal to 192
number 24 multiplied by 9 is equal to 216
number 24 multiplied by 10 is equal to 240

In [9]:
#simple if statement
#only does sth if requirement is met, otherwise it just goes on in the code
if 24>4:
    print('Right...')

if 4>4:
    print('Right...')
print('You see')

Right...
You see

In [10]:
number=99
if number > 24:
    print('number is more than twenty four')
else:
    print('number is below twenty four')
#lv 2: what if reqirement is met, what if not

number is more than twenty four

In [15]:
name = 'Fernando'
year=2001

if name =='Fernando': #for if everything will be excuted if the requirement is met
    print('Hi Fernando')
elif year>1999:
    print('you are too young')
elif name=='Esteban':
    print('Are you still no 2?') #the order is important for elif, only the first meeting the requirement will be executed
else: #executed in case all statements are false
    print('Non-Alpine driver')

you are too young

In [20]:
my_list=list(range(4,1999,24))
print(my_list)

for idx in range (4,len(my_list)):
    if idx %4==0:
        print(number)

[4, 28, 52, 76, 100, 124, 148, 172, 196, 220, 244, 268, 292, 316, 340, 364, 388, 412, 436, 460, 484, 508, 532, 556, 580, 604, 628, 652, 676, 700, 724, 748, 772, 796, 820, 844, 868, 892, 916, 940, 964, 988, 1012, 1036, 1060, 1084, 1108, 1132, 1156, 1180, 1204, 1228, 1252, 1276, 1300, 1324, 1348, 1372, 1396, 1420, 1444, 1468, 1492, 1516, 1540, 1564, 1588, 1612, 1636, 1660, 1684, 1708, 1732, 1756, 1780, 1804, 1828, 1852, 1876, 1900, 1924, 1948, 1972, 1996]
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [21]:
my_sum=0
for number in range (1,51):
    if (my_sum+number)%2==0:
        my_sum+=number
        print(my_sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [24]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday') #tuple
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19] #list

available_days=['Monday','Wednesday']
available_hours=[12, 13, 14, 15, 16, 17]

combinations=[]
for day in days:
    if day in available_days:
        print(day)
        for hour in available_hours:
            print(hour)
            combination=(day,hour)
            combinations.append((day,hour)) #append adds sth to a list
        print('Checking next day')

print(combinations)

Monday
12
13
14
15
16
17
Checking next day
Wednesday
12
13
14
15
16
17
Checking next day
[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [29]:
#list comprehension
my_list=[24,4,1999,2,1,9]
mult_2=[number*2 if number %2 ==0 else number*3 for number in my_list]
print(mult_2)

[48, 8, 5997, 4, 3, 27]

In [27]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday') #tuple
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19] #list

available_days=['Monday','Wednesday']
available_hours=[12, 13, 14, 15, 16, 17]

combinations=[(day,hour) for day in days for hour in hours if day in available_days and hour in available_hours]
print(combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [30]:
my_dictionary={
    'band': 'Run the Jewels',
    'year': 2020,
    False:'false',
    4:'four',
    'tracks':['Nobody Speak','Thieves']
} #only one key
print(my_dictionary['band'])

Run the Jewels

In [31]:
#overwriting a key
my_dictionary['tracks']='Holy Calamafuck'
print(my_dictionary)

{'band': 'Run the Jewels', 'year': 2020, False: 'false', 4: 'four', 'tracks': 'Holy Calamafuck'}

In [32]:
print(len(my_dictionary)) #number of elements

5

In [33]:
#delete all pairs: my_dictionary.clear()
my_dictionary.copy() #mutable

{'band': 'Run the Jewels',
 'year': 2020,
 False: 'false',
 4: 'four',
 'tracks': 'Holy Calamafuck'}

In [34]:
tmp_dict=dict.fromkeys(['sum','mult_sum','div_sum'],0) #assigning 0 to all keys
print(tmp_dict)

{'sum': 0, 'mult_sum': 0, 'div_sum': 0}

In [35]:
print(my_dictionary.get('tracks'))

Holy Calamafuck

In [38]:
print(my_dictionary.get('members', 'Not found')) #use .get to find sth, if not found will give you back None or 2nd value

Not found

In [39]:
print(my_dictionary.pop(False)) #.pop used to delete values

false

In [40]:
my_dictionary.popitem() #gives back a pair tuple

('tracks', 'Holy Calamafuck')

In [41]:
my_dictionary.setdefault('Members', 'Killer Mike & El-P') #adds new pair

'Killer Mike & El-P'

In [42]:
print(my_dictionary)

{'band': 'Run the Jewels', 'year': 2020, 4: 'four', 'Members': 'Killer Mike & El-P'}

In [43]:
new_dict={
    'DJ': 'Trackstar',
    'sum':42,
    'track': 'Oh la la'
}
my_dictionary.update(new_dict)
print(my_dictionary)

{'band': 'Run the Jewels', 'year': 2020, 4: 'four', 'Members': 'Killer Mike & El-P', 'DJ': 'Trackstar', 'sum': 42, 'track': 'Oh la la'}

In [44]:
for key, value in my_dictionary.items():
    print(f'key {key} has a value of {value}')

key band has a value of Run the Jewels
key year has a value of 2020
key 4 has a value of four
key Members has a value of Killer Mike & El-P
key DJ has a value of Trackstar
key sum has a value of 42
key track has a value of Oh la la